<h1>LogIn Page</h1>
<hr/>
<form method="POST">
    {% csrf_token %}
<table border="1">
    <tr>
        <td>
            User Name
        </td>
        <td><input type="text" placeholder="Enter User Name" name="Username" required></td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td><input type="text" placeholder="Enter password" name="Password" required></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit">Login</button></td>
    </tr>
</table>
{% if messages %}
{% for msg in messages %}
<b>{{msg}}</b>
{% endfor %}
{% endif %}
</form>